.button {
    padding: 12px 24px;
    font-size: 16px;
    color: #101820;
    background-color: #FEE715;
    border: 2px solid #FEE715;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, color 0.3s;
    text-align: center;
    display: inline-block;
}

.button:hover {
    background-color: #1C1C1C;
    color: #FEE715;
    transform: scale(1.05);
}

.button:active {
    background-color: #333333;
    transform: scale(0.98);
}

.button:disabled {
    background-color: #cccccc;
    border: 2px solid #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
}
